

{{#if @starred}}
  <button
    type="button"
    id="star-button"
    onclick={{action "toggle"}}
  >
    <img
      class="filled-star"
      src="https://us.123rf.com/450wm/asnia/asnia1709/asnia170900201/85984515-isolated-yellow-star-icon-ranking-mark-modern-simple-favorite-sign-decoration-symbol-for-website-des.jpg?ver=6"
      alt="trash_img"
    >
  </button>

{{else}}

  <button
    id="star-button"
    type="button"
    onclick={{action "toggle"}}
  >

    <img
      class="empty-star"
      src="https://static.thenounproject.com/png/5432-200.png"
      alt="trash_img"
    >

  </button>

{{/if}}
