<nav class = "sidenav">
  <ul>

    <li>
      {{#link-to "create"}}
        <button class="sidebar-link">Add Celebrity</button>
      {{/link-to}}
    </li>

    <li>
      {{#link-to "index"}}
        <button class="sidebar-link">All Celebrities</button>
      {{/link-to}}
    </li>
    <li>
      {{#link-to "sent"}}
        <button class="sidebar-link">User Added</button>
      {{/link-to}}
    </li>
    <li>
      {{#link-to "trash"}}
        <button class="sidebar-link">Starred</button>
      {{/link-to}}
    </li>

  </ul>
</nav>




{{outlet}}
