

<div  class="starred-section">

  <ul style="margin-left: 25%;padding:1px 16px;height:auto; width:100%">
  <h3>Starred Email</h3>


    {{#each model as |email|}}
    {{#if email.starred}}
      <li data-test="with-star">

          <SingleEmail @email = {{email}} />

      </li>

      <br>

    {{/if}}






    {{/each}}
  </ul>

</div>

<div  class="unstarred-section">

  <ul style="margin-left: 25%;padding:1px 16px;height:1000px; width:100%">


    {{#each model as |email|}}


    {{#unless email.starred}}

    <li data-test="without-star">

        <SingleEmail @email = {{email}} />

    </li>

    <br>


    {{/unless}}




    {{/each}}
  </ul>

</div>







{{outlet}}
