

<div>

  <ul style="margin-left: 25%;padding:1px 16px;height:auto; width:100%">
  <h3>Starred Email</h3>


    {{#each model as |email|}}
    {{#if email.starred}}
      <li>

          <SingleEmail @email = {{email}} />

      </li>

      <br>

    {{/if}}






    {{/each}}
  </ul>

</div>

<div>

  <ul style="margin-left: 25%;padding:1px 16px;height:1000px; width:100%">


    {{#each model as |email|}}


    {{#unless email.starred}}

    <li>

        <SingleEmail @email = {{email}} />

    </li>

    <br>


    {{/unless}}




    {{/each}}
  </ul>

</div>







{{outlet}}
